.media-object {
  max-width: 150px;
}

[ng-click] {
  cursor: pointer;
}

.search-form {
  margin-top: 4px;
}

main.container {
  margin-bottom: 4em;
}
body {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
