
      <div class="row">
        <div class="col-md-8">

          <form ng-submit="$ctrl.editPost()" name="editForm">
            <div>
              <label for="title">Title</label>
              <input id="title" class="form-control" ng-model="$ctrl.post.title">
            </div>
            <div>
              <label for="body">Body</label>
              <textarea id="body" class="form-control" ng-model="$ctrl.post.body"></textarea>
            </div>
            <div>
              <label for="author">Author</label>
              <input id="author" class="form-control" ng-model="$ctrl.post.author">
            </div>
            <div>
              <label for="image-url">Image URL</label>
              <input id="image-url" class="form-control" ng-model="$ctrl.post.image_url">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">
                Edit Post
              </button>
            </div>
          </form>

        </div>
      </div>
      
